    <footer id="footer">
      <h6>Brought to you by the</h6>
      <h4><a href="http://gfc.ucdavis.edu">Geospatial and Farming Systems Research Consortium</a></h4>
      <h5>In Partnership With</h5>
      <div class="partners-list">
        <ul id="partners" class="inline-list">
          <li>
            <a href="http://www.feedthefuture.gov/">
              <img alt="Feed the Future" src="{% cloud_browser_media_url '/img/partners/ftf_white.png' %}" />
            </a>
          </li>
          <li>
            <a href="http://www.usaid.gov/">
              <img alt="USAID logo" src="{% cloud_browser_media_url 'img/partners/usaidwhite.png' %}" />
            </a>
          </li>
          <li>
            <a href="http://www.k-state.edu/siil/index.html">
              <img alt="Kansas State University Sustainable Intensification Innovation Lab" src="{% cloud_browser_media_url '/img/partners/t-siil-logo.png' %}" />
            </a>
          </li>
          <li>
            <a href="https://www.ucdavis.edu/">
              <img alt="UCD logo" src="{% cloud_browser_media_url '/img/partners/ucdlogo.png' %}" />
            </a>
          </li>
        </ul>
      </div>
    </footer>  
