    <footer id="footer">
      <h6>Brought to you by the</h6>
      <h4><a href="http://gfc.ucdavis.edu">Geospatial and Farming Systems Research Consortium</a></h4>
      <h5>In Partnership With</h5>
      <div class="partners-list">
        <ul id="partners" class="inline-list">
          <li>
            <a href="http://www.feedthefuture.gov/">
              <img alt="Feed the Future" src="/static/img/ftf_white.png" />
            </a>
          </li>
          <li>
            <a href="http://www.usaid.gov/">
              <img alt="USAID logo" src="/static/img/usaidwhite.png" />
            </a>
          </li>
          <li>
            <a href="http://www.k-state.edu/siil/index.html">
              <img alt="Kansas State University Sustainable Intensification Innovation Lab" src="/static/img/t-siil-logo.png" />
            </a>
          </li>
          <li>
            <a href="https://www.ucdavis.edu/">
              <img alt="UCD logo" src="/static/img/ucdlogo.png" />
            </a>
          </li>
        </ul>
      </div>
    </footer>  
